* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root {
    --background: #2E3440;
    --foreground: #D8DEE9;
    --highlight: #8FBCBB;
    --button_background: #5E81AC;
}
body{
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Open Sans', sans-serif;
    margin: 5.188rem auto;
    font-size: 1.5rem;
    max-width: 90rem;
    overflow-x: hidden;
}
.small{
    font-size: 1.25rem;
}
.group{
    margin-bottom: 2.5rem;
}
.date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: var(--foreground);
}
main, nav{
    margin-left: 10.125rem;
    margin-right: 10.125rem;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}
nav h3{
    font-weight: 700;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul li{
    padding: 0.625rem;
    margin-left: 2.75rem;
}
nav ul li a{
    transition: ease-in-out 0.2s;
}
nav ul li a:hover{
    color: var(--highlight);
}

section{
    margin-bottom: 7.938rem;
}
.section-header{
    font-size: 2.125rem;
    font-weight: 600;
    margin-bottom: 2.05rem;
}
.subsection-header{
    font-size: 1.625rem;
    height: 2.813rem;
    font-weight: 500;
}
.about p{
    margin-bottom: 10.125rem;
}

.button-group{
    width: 25.625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button{
    width: 11rem;
    height: 3rem;
    border-radius: 0.313rem;
    text-align: center;
    padding: 0.425rem;
    transition: 0.3s ease-in-out;
    font-size: 1.25rem;
    border: solid 2px var(--button_background);
    border-radius: 8px;
}
.button.solid{
    background-color: var(--button_background);
}
.button:hover{
    transform: scale(1.1);
}
.projects .small{
    opacity: 78%;
}
.projects a, .contact-me a{
    color: var(--highlight);
}

@media (max-width: 1224px) {
    .desktop-only{
        display: none;
    }
    main{
        margin-left: 2.125rem;
        margin-right: 2.125rem;
    }
}

@media (max-width: 750px) {
    .desktop-only{
        display: none;
    }
    .date{
        flex-direction: column;
    }
    .button-group{
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .button{
        margin-bottom: 0.625rem;
    }
    .about p{
        margin-bottom: 2.5rem;
    }
    .group p{
        margin-top: 30px;
    }
    body, .button{
        font-size: 1.125rem;
    }
    .small{
        font-size: 1rem;
    }
    .section-header{
        font-size: 1.5rem;
        margin-bottom: 1.05rem;
    }
    .subsection-header{
        font-size: 1.375rem;
        height: 1.813rem;
    }
    section{
        margin-bottom: 4.938rem;
    }
}
::selection{
    color: var(--background);
    background-color: #8fbcbb;
}
